# List Methods

#### **append()** :- Adds an element at the end of the list

In [28]:
l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True']
l1.append("sam")
print(l1)

[10, 20, 30, 40, 24.3, 44.44, 69.69, 'Nick', 'True', 'sam']

#### clear() :-	Removes all the elements from the list

In [52]:
l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True']
print(l1)
l1.clear()
print(l1)

[10, 20, 30, 40, 24.3, 44.44, 69.69, 'Nick', 'True']
[]

#### copy() :-	Returns a copy of the list

l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True']
print('l1 =',l1)
l2 = l1.copy()
print('l2 =',l2)

#### count():-	Returns the number of elements with the specified value

In [86]:
l2 = [10, 20, 30, 40, 24.3, 44.44, 69.69, 'Nick', 'True',40,4o]
count = l2.count(40)
print(count)

3

#### extend();-	Add the elements of a list (or any iterable), to the end of the current list

In [115]:
l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True']
l2 = ['BMW' , "VOLVO" , "Audi"]
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 24.3, 44.44, 69.69, 'Nick', 'True', 'BMW', 'VOLVO', 'Audi']

#### index():-	Returns the index of the first element with the specified value

In [3]:
l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True','BMW' , "VOLVO" , "Audi"]
l2 = l1.index("Nick" )
print(l2)

7

#### insert() :-	Adds an element at the specified position

In [32]:
l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True']
l1.insert(5 ,'BMW')
print(l1)

[10, 20, 30, 40, 24.3, 'BMW', 44.44, 69.69, 'Nick', 'True']

#### pop():-	Removes the element at the specified position

In [40]:
sort()	Sorts the list
l1.pop(5)
print(l1)

[10, 20, 30, 40, 24.3, 69.69, 'Nick', 'True']

#### remove():-	Removes the item with the specified value

In [66]:
l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True']
l1.remove('Nick')
print(l1)

[10, 20, 30, 40, 24.3, 44.44, 69.69, 'True']

#### reverse();-	Reverses the order of the list

In [72]:
l1 = [10,20,30,40,24.3,44.44,69.69,'Nick','True']
l1.reverse()
print(l1)

['True', 'Nick', 69.69, 44.44, 24.3, 40, 30, 20, 10]

#### sort():-	Sorts the list

In [86]:
l1 = [10,20,30,2,40,81,22,11,24.3,44.44,69.69]
l2 = ['nick','john','mick','bob']
l1.sort()
l2.sort()
print(l1)
print(l2)

[2, 10, 11, 20, 22, 24.3, 30, 40, 44.44, 69.69, 81]
['bob', 'john', 'mick', 'nick']

# Dictionary Methods

#### clear():-	Removes all the elements from the dictionary

In [5]:
student = {"name" : 'Bob',
           "Section" : 'B',
           "age" : 34}
print(student)

{'name': 'Bob', 'Section': 'B', 'age': 34}

#### copy():-	Returns a copy of the dictionary

In [57]:
student = {"name" : 'Bob',
           "Seion" : 'B',
           "age" : 34}
student.copy()

{'name': 'Bob', 'Section': 'B', 'age': 34}

#### fromkeys()	:-Returns a dictionary with the specified keys and values

In [67]:
x = ('key1', 'key2', 'key3')
y = 0
Dict = dict.fromkeys(x,y)
print(Dict)

{'key1': 0, 'key2': 0, 'key3': 0}

#### get():-	Returns the value of the specified key

In [70]:
student = {"name" : 'Bob',
           "Seion" : 'B',
           "age" : 34}
student.get("name")

'Bob'

#### keys():-	Returns a list containing the dictionary's keys

In [76]:
student = {"name" : 'Bob',
           "Seion" : 'B',
           "age" : 34}
student.get("age")

34

#### items():-	Returns a list containing a tuple for each key value pair

In [83]:
stu = {"name" : 'Bob',
           "Seion" : 'B',
           "age" : 34}
student_data = stu.items()
print(student_data)

dict_items([('name', 'Bob'), ('Seion', 'B'), ('age', 34)])

#### pop():-	Removes the element with the specified key

In [132]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

#### popitem():-	Removes the last inserted key-value pair

In [139]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

#### setdefault():-	Returns the value of the specified key.

In [149]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.setdefault('model',"price"))

Mustang

#### update():-	Updates the dictionary with the specified key-value pairs

In [159]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"PRICE":1000000})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'PRICE': 1000000}

#### values()	:-Returns a list of all the values in the dictionary

In [169]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "PRICE":1000000
}
key_list = car.values()
print(key_list)

dict_values(['Ford', 'Mustang', 1964, 1000000])